body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table{
  margin-top: 10px;
  margin: 0 auto;
  width: 80%;
}

th{
  background-color: rgb(68, 109, 109);
  padding:5px 20px;
  color:whitesmoke
}

.table-data {
  text-align: center;
  padding: 5px 10px;
  background-color:rgb(206, 229, 236)
}
